@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --font-cabin: "Cabin";
    --font-ibm-plex-sans: "IBM Plex Sans";

    --color-plum-primary: #7A5BB9;
    --color-plum-primary-dark: #6F5E90;
    --color-plum-secondary: #403964;
    --color-plum-bg: #F7F2FF;
    --color-plum-bg-bold: #EEE5FF;
    --color-plum-surface: #D1C8EB;
    --color-plum-surface-hover: #CFBFFB;

    --shadow-plum-surface-xs: 0 0 8px 0 rgba(210, 200, 235, 1);
    --shadow-plum-surface-xl: 0 0 12px 0 rgba(210, 200, 235, 1);
}

.auth-left-bg {
    background: linear-gradient(180deg, rgba(64, 57, 100, 0.8) 0%, rgba(31, 28, 48, 0.8) 70%),
        url('/plum-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}