@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --font-cabin: "Cabin";
    --font-ibm-plex-sans: "IBM Plex Sans";

    --color-plum-primary: #7A5BB9;
    --color-plum-primary-dark: #6F5E90;
    --color-plum-secondary: #403964;
    --color-plum-bg: #F7F2FF;
    --color-plum-bg-bold: #EEE5FF;
    --color-plum-surface: #D1C8EB;
    --color-plum-surface-hover: #CFBFFB;

    --color-plum-cat-red-dark: #E53935;
    --color-plum-cat-red-light: #FFD7DC;
    --color-plum-cat-green-dark: #43A047;
    --color-plum-cat-green-light: #DAFFDC;
    --color-plum-cat-blue-dark: #1E88E5;
    --color-plum-cat-blue-light: #DDEFFF;
    --color-plum-cat-orange-dark: #FF9000;
    --color-plum-cat-orange-light: #FFF0D5;
    --color-plum-cat-purple-dark: #7A5BB9;
    --color-plum-cat-purple-light: #E0CCFF;
    --color-plum-cat-gray-dark: #616161;
    --color-plum-cat-gray-light: #E4E4E4;

    --shadow-plum-surface-xs: 0 0 4px 0 rgba(210, 200, 235, 1);
    --shadow-plum-surface-md: 0 0 8px 0 rgba(210, 200, 235, 1);
    --shadow-plum-surface-lg: 0 0 10px 0 rgba(210, 200, 235, 1);
    --shadow-plum-surface-xl: 0 0 12px 0 rgba(210, 200, 235, 1);
    --shadow-plum-secondary-xs: 0 0 4px 0 rgba(65, 55, 100, 0.3);
    --shadow-plum-secondary-md: 0 0 8px 0 rgba(65, 55, 100, 0.3);
    --shadow-plum-secondary-lg: 0 0 10px 0 rgba(65, 55, 100, 0.3);
    --shadow-plum-secondary-xl: 0 0 12px 0 rgba(65, 55, 100, 0.3);
}

.auth-left-bg {
    background: linear-gradient(180deg, rgba(64, 57, 100, 0.8) 0%, rgba(31, 28, 48, 0.8) 70%),
        url('/plum-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-plum-bg);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-plum-primary-dark);
    border-radius: 8px;
    border: 2px solid var(--color-plum-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-plum-primary-dark-dark);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-plum-primary-dark) var(--color-plum-bg);
}

::selection {
    background: var(--color-plum-primary);
    color: white;
}
::-moz-selection {
    background: var(--color-plum-primary);
    color: white;
}